.header{
  background: #606060;
  box-shadow: 0 4px 10px rgb(184, 182, 182);

}
header>div,footer>div,.content{

  width:10000px;

  padding:12px 20px;
  box-sizing:border-box;
}
div.header{

  width:10000px;

  padding:0 34px;
  box-sizing:border-box;
}
