.text_padding{
  padding: 10px 10px 30px 10px
}
.user_avatar img {border:1px solid #B7BEC7;width:75px;padding:2px;border-radius: 57px;}

.load_left { display: table-cell; vertical-align: top; /* width: 400px; */ padding-bottom: 3px; padding-left: 9px; /* background: #B6E4FF; */ border-radius: 5px;height: 140px;}
.load_right { display: table-cell; vertical-align: top; /* width: 400px; */ padding-bottom: 3px; padding-right: 9px; /* background: #B6E4FF; */ border-radius: 5px; float: right; height:
  140px;}






/*Prof zakladki*/
.rld-but, .ld-but { text-transform: uppercase; font-weight: bold; color: #3498db; border: 2px solid #3498db; text-decoration: none; inline: inline-block; padding: 10px 28px; margin-right: 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
  border-radius: 5px; box-shadow: 0px 5px 20px 0px rgba(73, 139, 250, 0.57);}
.ld-but:hover {background:#3498db; color:#FFF; text-decoration: none;}
.rld-but:hover {background:#3498db; color:#FFF; text-decoration: none;}
.ful-img img {width: 100%; height: 250px; margin: 0 0 10px 0; float: left; border: 4px solid #FCFCFC; box-shadow: 0px 0px 1px 1px #DDD;}
.uz a { }


.load_left { display: table-cell; vertical-align: top; /* width: 400px; */ padding-bottom: 3px; padding-left: 9px; /* background: #B6E4FF; */ border-radius: 5px;height: 140px;}
.load_right { display: table-cell; vertical-align: top; /* width: 400px; */ padding-bottom: 3px; padding-right: 9px; /* background: #B6E4FF; */ border-radius: 5px; float: right; height:
  140px;}
.top_block_title {font-size: 17px;color: #444141;margin-bottom: 7px;font-family: 'Play';}

.author_avatar img {/* border: solid 1px #D2D2D2; *//* border-radius: 5px; *//* box-shadow: 0 0 15px rgba(122, 122, 122, 0.38); *//* width: 75px; *//* height: 72px; *//* object-fit: cover; *//* padding: 2px; *//* border-radius: 57px; */}
.author_information { display: table-cell; vertical-align: top; }
.author_user { font-size: 14px; font-weight: bold; display: block; }
.author_avatar { display: table-cell; vertical-align: top; width: 100px; }
.author_group { margin-top: 7px; font-size: 13px; color: #6A6A6D; }
.author_load { font-size: 13px; margin-top: 5px; }




input[type=submit]:hover {
  background-color: #45a049;
}

.contact_form ul {
  width:750px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}
.contact_form li{
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
}
.contact_form h2 {
  margin:0;
  display: inline;
}
.required_notification {
  color:#d45252;
  margin:5px 0 0 0;
  display:inline;
  float:right;
}
input:required, textarea:required {
  background: #fff no-repeat 98% center;
}
.contact_form input, .contact_form textarea {
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
  background: #fff;
  border:1px solid #555;
  box-shadow: 0 0 3px #aaa;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
  background: #fff  no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

